<div ng-controller="regCtrl">

<div class="container">

    <div class="row">

        <div class="col-lg-12 col-sm-12">
            <h1 class="page-header">Login/Register 
            </h1>
            <ol class="breadcrumb">
                <li><a href="#/">Home</a></li>
                <li><a href="#/login">Login</a></li>
                <li class="active">Register</li>
            </ol>
        </div>
<!-- /.section-colored -->
</div>

<div class="section-colored text-center" style="background-color:rgb(246,246,246);">
    <div class="container">
    <form name="regForm" novalidate>
        <div class="row">
            <div class="col-lg-8 col-sm-12">
                <h3>Register</h3>
                <div class="row">
                    <div class="col-lg-1 col-sm-1"></div>
                    <div class="col-lg-4 col-sm-5">
                        <label for="suname">Username</label>
                        <input type="text" name="sUname" class="form-control" id="sUname" maxlength="20" ng-blur="lUserTest()" maxlength="40">
                        <span ng-show="unMinLen" style="color:red">Minimum 6 characters!</span>
                    </div>
                    <div class="col-lg-2 col-sm-2"></div>    
                    <div class="col-lg-4 col-sm-5">
                        <label for="semail">Email</label>
                        <input type="email" name="semail" class="form-control" ng-blur="sMailTest()" ng-model="semail" id="semail" maxlength="40">
                        <span ng-show="unExist" style="color:red">Email already exists!</span>
                        <span style="color:red" ng-show="regForm.semail.$error.required">Email is required.</span>
                        <span style="color:red" ng-show="regForm.semail.$error.email">Invalid email address.</span>
                    </div>
                </div><br/>
                <div class="row">
                    <div class="col-lg-1 col-sm-1"></div>
                    <div class="col-lg-4 col-sm-5">
                        <label for="spassword1">Password</label>
                        <input type="password" name="spassword1" class="form-control" id="spassword1" maxlength="20" ng-blur="lPass1Test()" maxlength="40">
                        <span ng-show="unMinPass1" style="color:red">Passwords must be between 8 and 20 characters</span>
                    </div>
                    <div class="col-lg-2 col-sm-2"></div>    
                    <div class="col-lg-4 col-sm-5">
                        <label for="spassword2">Confirm Password</label>
                        <input type="password" name="spassword2" class="form-control" id="spassword2" maxlength="20" ng-blur="lPass2Test()" maxlength="40">
                        <span ng-show="unMinPass2" style="color:red">Password confirmation is not match</span>
                    </div>
                </div><br/>
                <div class="form-group col-lg-12 col-sm-12">
                    <input type="hidden" name="registerbtn" value="register">
                    <button type="submit" ng-click="lUserReg()" ng-disabled="regNotOk" class="btn btn-primary">Register</button>
                </div>
                <a href="#/login">I already have Username/Password!</a>

            </div>    
        </div>
        <!-- /.row -->
        </form>
    </div>
    <!-- /.container -->

</div>
<!-- /.section-colored -->

</div>