
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="background:#fff;">
    <div class="topCover"></div>
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-rabais-collapse" style="background-color:#000;">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="topHi"><span class="link" onclick="signInClicked()">Sign in</span> or <span class="link" onclick="registerClicked()">Register</span></div>
        </div>

        <div class="collapse navbar-collapse navbar-rabais-collapse">
            <ul class="nav navbar-nav navbar-centre headMenu" >
                <li><a href="#/">Daily Deals</a></li>
                <li><a href="#/giftCards">Gift Cards</a></li>
                <li><a href="#/sell">Sell</a></li>
                <li><a href="#/contact">Help & Contact</a></li>
            </ul>
        </div>
        <li class="basket"><a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></li> 
    </div>
</nav> 

<section id="searchBar">
<div class="container">
    <div class="row">
        <div class="col-lg-12">
  
            <div class="col-lg-10" style="padding:0;padding-left:0;">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                        <button class="btn btn-primary" style="border-radius:0;" type="button">Search</button>
                        </span>
                </div>
            </div>
            <div class="col-lg-1" style="padding-top: 8px; float: left;">Advanced</div>
        </div>

    </div>
</div> 
</section>

