
<div id="myCarousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
        <li data-target="#myCarousel" data-slide-to="5"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" style="width:100%; height:100%;font-size:2em;">
        <div class="item active">
            <img src="images/sld01.jpg">
            <div class="carousel-caption">
                <p>Reduce costs</p>
            </div>
        </div>
        <div class="item">
            <img src="images/sld02.jpg">
            <div class="carousel-caption">
                <h1>Control costs and Income groups</h1>
            </div>
        </div>
        <div class="item">
            <img src="images/sld03.jpg">
            <div class="carousel-caption">
                <p>Manage your money</p>
            </div>
        </div>
        <div class="item">
            <img src="images/sld04.jpg">
            <div class="carousel-caption">
                <p>We are negotiators</p>
            </div>
        </div>
        <div class="item">
            <img src="images/sld05.jpg">
            <div class="carousel-caption">
                <p>See what happened to your money</p>
            </div>
        </div>
        <div class="item">
            <img src="images/sld06.jpg">
            <div class="carousel-caption">
                <p>Let's reduce expenses</p>
            </div>
        </div>
</div>

    <!-- Controls 
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a> -->
</div>


